<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afe4ac">  <td>20/09/14 12:16:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTests.close(org.testng.ITestResult)[pri:0, instance:com.demomaven.cicdDocker.TestPuma@3b088d51]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1320677379</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/09/14 12:16:51</td>   <td>26408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTests.close(org.testng.ITestResult)[pri:0, instance:com.demomaven.cicdDocker.TestPuma@3b088d51]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1320677379</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/09/14 12:15:52</td>   <td>-33037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTests.launch()[pri:0, instance:com.demomaven.cicdDocker.TestPuma@3b088d51]">&gt;&gt;launch</td> 
<td>&nbsp;</td>  <td>main@1320677379</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/09/14 12:16:26</td>   <td>1169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTests.launch()[pri:0, instance:com.demomaven.cicdDocker.TestPuma@3b088d51]">&gt;&gt;launch</td> 
<td>&nbsp;</td>  <td>main@1320677379</td>   <td></td> </tr>
<tr bgcolor="ca907e">  <td>20/09/14 12:16:03</td>   <td>-21803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPuma.men()[pri:0, instance:com.demomaven.cicdDocker.TestPuma@3b088d51]">men</td> 
  <td>main@1320677379</td>   <td></td> </tr>
<tr bgcolor="ca907e">  <td>20/09/14 12:16:45</td>   <td>20073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPuma.testPuma()[pri:0, instance:com.demomaven.cicdDocker.TestPuma@3b088d51]">testPuma</td> 
  <td>main@1320677379</td>   <td></td> </tr>
</table>
